@import "../../../../theme/mixings.scss";

.barContainer {
  background-color: var(--white) !important;
  box-shadow: none !important;
  height: 70px;
  box-shadow: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 2;

  .logoTitle{
    color: var(--black);
    font-weight: 600;
    margin-left: 10px;
    font-size: 1.2rem;
  }

  .selectedNavItem{
    color: #009aeb !important;
  }
  .navItem {
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    color: var(--cool-grey);
    cursor: pointer;

    &:hover {
      color: var(--lightBlue);
      background-color: transparent;
    }
  }
}

.mobileNavbar {
  z-index: 9999;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: var(---offWhite);

  .container {
    padding: 24px;

    .item {
      display: block;
      padding: 9px 16px;
      margin-bottom: 8px;
      color: var(--black);
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      border-radius: 8px;
      transition: color 350ms ease 0s;
      border: 1px solid transparent;
    }
  }
}
